.content-box {
    background-color: rgba(255, 255, 255, 0.60);
    padding: 40px 30px;
    margin: 40px auto;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    color: darkgreen;
    font-family: 'Goudy Old Style', sans-serif;
    font-size: 48px;
    text-align: center;
    padding-left: 15px;
}

p {
    font-size: 24px;
	color: black;
}

.center {
    text-align: center;
}

footer {
    padding: 15px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}
li {
    font-size: 18px;
    margin-bottom: 5px;
    padding-right: 5px;
}
body {
	font-family: 'Goudy Old Style', sans-serif;
	font-size: 24px;
	background-color: #f5f5f5;
	color: black;
	text-align: center;
}
header {
	background-color: #f5f5f5;
	font-family: 'Goudy Old Style', sans-serif;
	font-size: 48px;
	color: green;
	text-align: center;
}
header h1 {
	background-color: #f5f5f5;
	font-family: 'Goudy Old Style', sans-serif;
	font-size: 36px;
	color: black;
	text-align: center;
}
nav li {
	margin: 0 auto;
}
nav a {
  color: blue;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
  text-align: center;
  line-height: 1.1;
}
nav a:hover {
  text-decoration: underline;
  color: purple;
  text-align: center;
}
main {
	text-align: center;
	padding: 2em;
}
ul {
	color: darkgreen;
	font-family: 'Goudy Old Style', sans-serif;
	font-size: 24px;
	text-align: center;
	padding-left: 0;
	margin: 0 auto;
	list-style-type: none;
    display: block;
	}
.recent-tour-photos {
  text-align: center;
}
.photo-item {
  display: block;
  width: 80%;
  margin: 600px;
  vertical-align: top;
  margin: 1em auto;
}
li {
    width: 80%;
    text-align: center;
	margin: 2em auto;
    }
footer {
	color: dark green;
	font-family: 'Goudy Old Style', sans-serif;
	font-size: 24px;
	text-align: center;
	padding-left: 15px;
	}
p {
	text-align: center;
	margin: 0 auto;
	}
table {
    margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    }
th, td {
    border: 1px solid #333;
    padding: 10px;
    }
th {
    background-color: #f5f5f5;
    }
  .error {
      color: red;
      display: none;
      font-size: 0.9em;
      margin: 0 auto;
  }
